<div class="container-fluid">
    <div class="row" style="background: #5054b4;">
        <div class="col-md-6">
            <img src="../assets/fb.jpg" style="    padding-bottom: 8px;height: 38px; width: 50px; margin: 10px 0 0 3%;  ">
            <input type="text" placeholder="Search" name="search" style="border-radius: 4px; border: none;height: 25px;width: 50%;margin: 13px 0 0 0; ">
            <span><i style="margin-top: 18px; margin-left: -20px; color: lightslategray " class="fa fa-search"></i></span>
        </div>
        <div class="col-md-6">
            <div >
                <img src="../assets/img.jpg" style="margin: 10px 0 0 0; height: 30px;width: 30px;border-radius: 50%;">
            </div>
        </div>
    </div>
    <div class="row text-success ">
        <div><h6>{{user}}</h6></div>
    </div>
    <div class="row">
        <div class="col-md-10 body">
            <div class=" dummy">
                <ul>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                    <li>Dummy Data</li>
                </ul>
            </div>
            <div class="col-md-2 pull-right" *ngIf="show" >
                <div class="chat-box">
                    <div class="chat-head">
                        <h6>{{selectedRoom}}</h6>
                        <button (click)="close()" type="button" class="close" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div style="overflow-y: auto; overflow-x: hidden; background-color:lightgrey;width:100%;height:calc(100% - 76px);">
                        <div *ngFor="let item of messageArray">
                            <span *ngIf="item.room == selectedRoom" [ngClass]="{'msg-send': item.user == user , 'msg-receive': item.user != user }" ><strong>{{item.user}} : </strong> {{item.message}}</span>
                        </div>
                        <div class="chat-text" >
                            <textarea style="outline: none;border: 1px solid;" [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Send"></textarea>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-md-2" style="">
            <div class="affix sidenav" style="max-width: inherit;width: 17%;right: 0;">
                <ul class="nav">
                    <li class="field" *ngFor="let temp of roomsDisplayed" (mouseover)="count1 = temp"  (mouseleave)="count1 = false" ng-init="count1 = false" 
                     (click)="showPopup(temp)">
                     <div>
                        <img src="../assets/img.jpg" style="margin-left: 10px;border-radius: 50%;width: 30px;height: 30px;">
                        <span>{{temp}}</span>
                        <i *ngIf="count1 == temp" class="fa fa-hand-stop-o pull-right" style="margin-right:20px;font-size:24px;color:grey;"></i>                         
                     </div>
                    </li>
                </ul>
                <div style="color: #d5d5d5; background-color: #f6f7f9;position: fixed;right: 0;width: 17%; bottom: 0px;display: inline;">
                    <i style="display: inline;" class="fa fa-search"></i>
                    <input class="search" type="text" name="search" placeholder="Search" [(ngModel)]="search"
                    (ngModelChange)="searching()">
                    <i style="margin-left: 2px; display: inline;" class="fa fa-cogs" aria-hidden="true"></i>
                    <i class="fa fa-commenting" style="margin-left: 2px;" aria-hidden="true"></i>
                    <i class="fa fa-users" aria-hidden="true" style="margin-left: 2px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>