.body {
    background: #dcdee1;
    border: 5px solid white;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding: 5px;
}
.sidenav{
	height: calc(100vh - 100px);
	background-color: #dcdee1; 
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
}
.sidenav ul {
	list-style: none;
	display: block;
}
.sidenav li {
	padding: 5px;
}
.sidenav li:hover {
	background-color: lightgrey; 

}
.sidenav span {
	margin-left: 10px;
}
.sidenav .field {
	height: 45px;
}
.handicon{
	display:none;
}
.handicon:hover{
	display: inline-block;
} 
.search {
	margin-left: 5px;
	display: inline;
	width: 60%; 
	border:none;
    outline: none;
}
.chat-box{
	position: fixed;
	right: 222px;
	bottom: 0px;
	background: white;
	width: 300px;
	height: 300px;
	border-radius: 5px 5px 0px 0px;
}
.chat-head{

	width: inherit;
	height: 30px;
	background: #5054b4;
	border-radius: 5px 5px 0px 0px;
}
.close {
	right: 5px;
	position: absolute;
	margin: auto;
}
.chat-head h6{
	color: white;
	padding: 8px;
	display: inline-block;
}
.chat-head img{
	cursor: pointer;
	float: right;
	width: 25px;
	margin: 10px;
}
.chat-body{
	height: 300px;
	width: inherit;
	overflow: auto;
}
.chat-text{
	position: absolute;
	height: 45px;
	bottom: 1px;
	width: inherit;
}
.chat-text textarea{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	resize: none;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
	border-color: royalblue;
}
.msg-send{
    word-wrap: break-word;
	background: #2ecc71;
}
.msg-receive{
    word-wrap: break-word;
    background: #3498db;
}
.msg-send, .msg-receive{
	width: 200px;
	height: 35px;
	padding: 5px 5px 5px 10px;
	margin: 10px auto;
	border-radius: 3px;
	line-height: 30px;
	position: relative;
	color: white;
}
.msg-receive:before{
	content: '';
	width: 0px;
	height: 0px;
	position: relative;
	border: 15px solid;
	border-color: transparent #3498db transparent transparent;
	left: -29px;
	top: 7px;
}
.msg-send:after{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent transparent transparent #2ecc71;
	right: -29px;
	bottom: -7px;
}
.msg-receive:hover, .msg-send:hover{
	opacity: .9;
}