<div class="container-fluid">
    <div class="row text-success ">
        <div><h2 (click)="close()">Realtime Chat Application</h2></div>
    </div>
    <div class="row text-success ">
        <div><h6>{{user}}</h6></div>
    </div>
    <div class="row">
        <div class="col-md-10 body">
            <div *ngIf="show" class="wrapper">
                <div class="chat-box">
                    <div class="chat-head">
                        <h6>{{selectedRoom}}</h6>
                        <button (click)="close()" type="button" class="close" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="chat-body">
                        
                        <div class="row">
                            <div  style="margin-top: 5px; margin-bottom: 5px; background-color: lightgrey; overflow-y:scroll;width:100%;height:400px !important; padding:15px;">
                                <div class="well" >
                                    <div *ngFor="let item of messageArray">
                                        <span *ngIf="item.room == selectedRoom" [ngClass]="{'msg-send': item.user == user , 'msg-receive': item.user != user }" ><strong>{{item.user}} : </strong> {{item.message}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-text">
                            <textarea [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Send"></textarea>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-md-2 sidenav" style=" padding-right: 0;padding-left: 0;">
            <ul class="nav">
                <li  class="field nav-item" *ngFor="let temp of roomsDisplayed" (mouseover)="count1 = temp"  (mouseleave)="count1 = false" ng-init="count1 = false" 
                 (click)="showPopup(temp)">
                    <img src="../assets/img.jpg" style="margin-left: 10px;border-radius: 50%;width: 25px;">
                    <span>{{temp}}</span>
                    
                    <i *ngIf="count1 == temp" class="fa fa-hand-stop-o pull-right" style="margin-right:20px;font-size:24px;color:grey"></i>
                </li>
            </ul>
            <div style="color: #d5d5d5; background-color: #f6f7f9;position: fixed;bottom: 0px;display: inline;">
                <i style="display: inline;" class="fa fa-search"></i>
                <input class="search" type="text" name="search" placeholder="Search" [(ngModel)]="search"
                (ngModelChange)="searching()">
                <i style="margin-left: 2px; display: inline;" class="fa fa-cogs" aria-hidden="true"></i>
                <i class="fa fa-commenting" style="margin-left: 2px;" aria-hidden="true"></i>
                <i class="fa fa-users" aria-hidden="true" style="margin-left: 2px;"></i>
            </div>
        </div>
    </div>
</div>